@media only screen and (min-width: 64rem) {

    /* Header */

    header {
        flex-wrap: nowrap;
        gap: 1rem;
    }

    /* Footer */

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer img {
        width: auto;
        height: 50px;
    }

    /* Hamburger */
    .hamburger {
        display: none;
    }

    main,
    footer {

        margin: 0 auto;
    }

    .navigation {
        display: flex;
        border-bottom: solid 1px black;
        order: 2;
        margin-left: auto;
    }

    .navigation ul {
        flex-direction: row;
        gap: .5rem;
        width: auto;
    }

    .navigation li {
        width: auto;
    }

    .navigation a {
        border: none;
    }
    
    .left {
        margin: 0;
        padding: 0;
        order: 1;
    }

    .right {
         margin: 0;
        padding: 0;
        order: 3;
        flex: none;
    }



    .home-main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .home-main h1 {
        grid-column: 1 / 4;
    }


    /* Cards */

    #cards section {
        margin-left: 0;
        margin-right: 0;
    }

    #cards.spotlight-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1 / 4;
    }

    /* Join Main */

    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        ;
    }

    .join-form {
        grid-column: 1/2;
    }

    .join-cards {
        grid-column: 2/3;
    }

    .join-title{
    grid-column: 1/3;
}

/* Discover Cards */

#allplaces{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}