@media only screen and (min-width: 40rem) {
    #allplaces div {

    grid-template-columns: 1fr 2fr;

    grid-template-areas: 
    "picture name"
    "picture description"
    "picture location"
    ;
}

 .hover:hover {
        box-shadow: 0 0 50px #333;
    }
}