:root {
    --primary-color: #000000;
    --secondary-color: #5682B1;
    --accent1-color: #5F9DF7;
    --accent2-color: #739EC9;
    --bkcolor: #FFE8DB;
    --bkcolor-transparent: rgba(32, 12, 128, 0.424);
    --heading-font: "Playfair Display", serif;
    --body-font: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: var(--heading-font);
}

body p {
    font-family: var(--body-font);
}
/* Header */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px black;
    column-gap: 8px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
}

h1 {
    margin-left: 10px;
}

/* HAMBURGER */

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* NAVIGATION */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: var(--bkcolor);
    color: var(--accent2-color);
}

/* Main */

section {
    text-align: center;
    border: solid 1px black;
    border-radius: 12px;
    margin: 24px;
}

section h2 {
    background-color: var(--secondary-color);
    border-radius: 12px 12px 0 0;
    margin: 0;
    padding: 6px;
    color: var(--primary-color);
}

section img {
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

section nav {
    display: flex;
}

section button {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    border-radius: 12px;
    margin: 10px;
}

/* FOOTER */

footer {
    background-color: var(--accent2-color);
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;


    border: #ccc solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #fff;
}

/* Course Filter */

.completed {
    background-color: var(--accent1-color);
}

.completed h3::before {
    content: " ✓ ";
}

#credit-total {
    margin-bottom: 10px;
}