:root {
    --primary-color: #FFFBF1;
    --secondary-color: #FFF2D0;
    --accent1-color: rgb(235, 214, 113);
    --accent2-color: #FFB2B2;
    --accent3-color: #A34444;
    --accent4-color: #1E453E;
    --bkcolor: #AC7D88;
    --bkcolor2: #FAF3E0;
    --bkcolor-transparent: rgba(111, 178, 210, .7);
    --heading-font: "Calistoga";
    --body-font: "Work Sans", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1{
    font-size: 1.5rem;
    text-align: center;
    color: var(--accent3-color);
    white-space: nowrap;
}

.left {
    display: flex;
    align-items: center;
    order: 1;
    font-size: 1rem;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left .favicon {
    display: block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    
}

.undercurly {
    display: none;
}

/* HAMBURGER */

.hamburger {
    background: none;
    border: none;
    color: var(--accent3-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* NAVIGATION */

.navigation {
    order: 3;
    display: none;
}

.navigation.show {
    display: block;
    width: 100%;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--accent3-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: var(--secondary-color);
}

/* .navigation li.current::before {
    content: "𓃇";
} */

.navigation a:hover {
    background-color: var(--bkcolor);
    color: var(--accent2-color);
}

/* Hero Image */

.hero-image {
    height: 50vh;
    width: 100%;
    min-height: 320px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



main h2 {
    color: var(--accent3-color);
}
main p,
main li {
    font-family: var(--body-font);
}

.siteplan-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.siteplan-main section {
    border: solid 2px var(--accent3-color);
    background-color: var(--secondary-color);
    margin: 10px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;

}

.right {
    order: 2;
    display: flex;
    align-items: center;
     margin-left: auto;
    margin-right: 20px;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
}

/* Main */

main section h2 {
    padding: 20px;
}

main section ul {
    padding-left: 30px;
}

/* Houses Main */

.houses-main {
    display: grid;
}

/* Houses Csrds */

.hover:hover {
	box-shadow: 0 0 50px #333;
}

#cards section {
    margin: 1rem 8px;
    border: 3px solid var(--accent3-color);
    background-color: var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "name"
    "picture"
    "picture architect year"
    "picture description"
}

#cards section h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#cards section img {
    width: 300px;
    height: auto;
    object-fit: cover;
    grid-area: picture;


}

#cards .desc {
    margin: 1rem 10px;
    grid-area: description;
    min-height: 100px;
}

#cards .arch {
    margin: 1rem 10px;
    grid-area: architect;
}

#cards .year {
    margin: 1rem 10px;
    grid-area: year;
}

.wireframes {
    grid-column: 1/3;

}

.wireframes {

}

.largeframe{
    width: 600px;
    height: auto;
}

.smallframe {
    max-height: 600px;
    max-width: auto;
}