@media only screen and (min-width: 52rem) {

    /* Header */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 4rem;
    }

    .left {
        order: 1;
    }

    .undercurly {
        order: 3;
        display: block;
        justify-items: center;
        font-size: 3rem;
        padding-bottom: 25px;
    }

    .left .favicon {
        display: none;
    }

    .right {
        margin-left: 0;
        flex: none;
    }

    .right img {
        display: none;
    }

    .curlycue::before {
        content: "꒰";
    }

    .curlycue::after {
        content: "꒱";
    }

      /* Footer */

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer img {
        width: auto;
        height: 50px;
    }

    /* Hamburger */
    .hamburger {
        display: none;
    }

    /* Navigation */

    .navigation {
        display: flex;
        justify-content: center;
        border-bottom: solid 1px black;
        width: fit-content;
        order: 2;
    }

    .navigation ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: .5rem;
        width: auto;
    }

    .navigation li {
        width: auto;
    }

    .navigation a {
        border: none;
        font-size: 2rem;
    }

    /* Index Main */

    .index-main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .index-title {
        grid-column: 1/3;
        padding-bottom: 20px;
    }

    

    /* House Cards */

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Architect Cards */
    
    .architect-cards section {
        width: 60%;
    }

    .architect-cards .slide-left {
        border-radius: 30px 0 30px 0;
    }

    .architect-cards .slide-right {
        align-self: flex-end;
        border-radius: 0 30px 0 30px;
    }


}