@media only screen and (min-width: 45rem) {

    /* Header */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 4rem;
    }

    .left {
        order: 1;
    }

    .undercurly {
        order: 3;
        display: block;
        justify-items: center;
        font-size: 3rem;
        padding-bottom: 25px;
    }

    .left .favicon {
        display: none;
    }

    .right {
        margin-left: 0;
        flex: none;
    }

    .right img {
        display: none;
    }

    .curlycue::before {
        content: "꒰";
    }

    .curlycue::after {
        content: "꒱";
    }

    /* Hamburger */
    .hamburger {
        display: none;
    }

    /* Navigation */

    .navigation {
        display: flex;
        justify-content: center;
        border-bottom: solid 1px black;
        width: fit-content;
        order: 2;
    }

    .navigation ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: .5rem;
        width: auto;
    }

    .navigation li {
        width: auto;
    }

    .navigation a {
        border: none;
        font-size: 2rem;
    }

    /* House Cards */

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #cards section {
        grid-template-areas:
            "name"
            "picture"
            "architect"
            'year'
            "description"
        ;
    }

    #cards h3 {
        justify-self: center;
    }

    #cards img {
        display: block;
        justify-self: center;
        align-items: center;
    }
}